@import "~bootstrap/scss/bootstrap";

.card {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  img{
    border-radius: 1%; 
  }
  body {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  body::-webkit-scrollbar {
    display: none; 
  }

  
body {
  font-family: Arial, sans-serif;
      
}
.nav a {
  color: red;
  &:hover {
      color:rgb(0, 0, 0)
  }

}
header{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.informacion{
  margin-left: 10vh;
}

.custom-text {
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px white;
  margin-left: 3vh;
  font-size: 21vw;
  .first-letter {
    color: red;
  }
}

  .redes-sociales {
    text-align: center;
    z-index: 2; 
    position: absolute;
    margin-top: 255px;
    margin-left: 622px;
}

.red-social-link {
    margin: 10px;
    color: #610000; 
    font-size: 34px; 
    text-decoration: none;
    transition: color 0.4s;
}

.red-social-link:hover {
    color: white;
    transition: color 0.4s;
}


footer p{
    color: white; 
    font-size: 16px; 
    margin-top: 270px;
    margin-left: 20px;
}
  
#tema{
  z-index: 999;
  }
  